#isaacificationProgress {
  margin-top: 5px;
  margin-bottom: 5px;
}

#isaacificationProgress .ui-widget-header {
   background-color: #77dd77;

}

.ui-progressbar {
  position: relative;
}
.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}
